.cover__subtitle {

    text-align: center;
    z-index: 2;
    display: block;
    margin: 0 auto;

    position: absolute;
    max-width: 360px;
    top: 80%;
    left: 0;
    right: 0;
   
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}


@media screen and (max-width: 1023px) {
    .cover__subtitle {
        
        top: 70%;
    }
}


@media screen and (max-width: 767px) {
    .cover__subtitle {
       
        top: 60%;
        font-size: 14px;
        line-height: 16px;
    }
}


