@import url(./__font-weight/intro__font-weight.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    max-width: 984px;
    min-width: 288px;
    width: 90%;
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 924px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 90%;
        margin-bottom: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 90%;
        margin-bottom: 0px;
        padding-top: 64px;
    }
}