.cover__title {
    max-width: 560px;
    
    z-index: 2;
    text-align: center;
    display: block;
    margin: 0 auto;
    
    position: absolute;
    width: 560px;
    top: 40%;
    left: 0;
    right: 0;
    
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;    
    
    color: #FFFDFD;
}



@media screen and (max-width: 1023px) {
    .cover__title {
        top: 30%;

        
    }
}



@media screen and (max-width: 767px) {
    .cover__title {
        top: 15%;
        font-size: 32px;
        line-height: 35px;
        
        width: 90%;
    }
}

